In [1]:
import re
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
from scipy.spatial.distance import pdist, cdist
from datetime import datetime as dt

In [2]:
pd.set_option("display.max_columns",None)

In [3]:
file_size= 100000
filename=f"data_{file_size}.csv"
dtypes= {'crash_date': str,
         'crash_time': str,
         'borough': str,
         'zip_code': str,
         'latitude' :float,
         'longitude' :float,
         'location': str,
         'on_street_name': str,
         'off_street_name': str,
         'cross_street_name': str,
         'number_of_persons_injured': int,
         'number_of_persons_killed': int,
         'number_of_pedestrians_injured' :int,
         'number_of_pedestrians_killed' :int,
         'number_of_cyclist_injured' :int,
         'number_of_cyclist_killed' :int,
         'number_of_motorist_injured' :int,
         'number_of_motorist_killed' :int,
         'contributing_factor_vehicle_1': str,
         'contributing_factor_vehicle_2': str,
         'contributing_factor_vehicle_3': str,
         'contributing_factor_vehicle_4': str,
         'contributing_factor_vehicle_5': str,
         'collision_id' :int,
         'vehicle_type_code1': str,
         'vehicle_type_code2': str,
         'vehicle_type_code_3': str,
         'vehicle_type_code_4': str,
         'vehicle_type_code_5': str}
df=pd.read_csv(filename,dtype=dtypes)

In [4]:
df.columns
#df.dtypes

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'location', 'on_street_name', 'off_street_name',
       'cross_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1',
       'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
       'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
       'collision_id', 'vehicle_type_code1', 'vehicle_type_code2',
       'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5'],
      dtype='object')

In [5]:
"""change some column name"""
df.rename(columns={'vehicle_type_code1': 'vehicle_type_code_1', 'vehicle_type_code2':'vehicle_type_code_2'}, inplace=True)

# Profiling report

In [6]:
prof = ProfileReport(df)
prof.to_file(output_file = f"profile_report_{file_size}_in.html")

In [157]:
df.head()

,crash_date,crash_time,borough,zip_code,location,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,crash_day,crash_month,crash_year,combine_location,nearest_street
0,2019-08-03,17:25,STATEN ISLAND,10307,"(40.501465, -74.24523)",SWINNERTON STREET,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Unspecified,4182249,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Saturday,8,2019,"(40.501465,-74.24523)",CLERMONT AVENUE
1,2019-09-07,0:36,STATEN ISLAND,10307,"(40.50331, -74.237465)",SPRAGUE AVENUE,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,Unspecified,4201115,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,Saturday,9,2019,"(40.50331,-74.237465)",unspecified
2,2019-08-17,15:00,STATEN ISLAND,10307,"(40.503387, -74.24883)",FINLAY STREET,0,0,0,0,0,0,0,0,Unspecified,Other_factor,Other_factor,4198160,Sedan,Other_code,Other_code,Saturday,8,2019,"(40.503387,-74.24883)",unspecified
3,2017-05-06,2:55,STATEN ISLAND,10307,"(40.503414, -74.24496)",unspecified,0,0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,Unspecified,3664377,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Saturday,5,2017,"(40.503414,-74.24495999999999)",463 MAIN STREET
4,2020-07-08,20:20,STATEN ISLAND,10307,"(40.50447, -74.243454)",HYLAN BOULEVARD,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,Other_factor,4327159,Sedan,Sedan,Other_code,Wednesday,7,2020,"(40.50447,-74.243454)",unspecified

# Resolve the High cardinality based on occurence

In [8]:
"""get the distinct observations over requested axis"""
for col in df:
    if df[col].nunique()<100:
        print('\n #################### '+ str(col)+' #################### \n\n',df[col].unique())

 #################### borough ####################

 ['STATEN ISLAND' 'BRONX' 'QUEENS' nan 'BROOKLYN' 'MANHATTAN']

 #################### number_of_persons_injured ####################

 [ 0  1  3  8  2  4  5  6  7  9 11 15 10]

 #################### number_of_persons_killed ####################

 [0 1 2 3]

 #################### number_of_pedestrians_injured ####################

 [0 1 2 3 6 5 4]

 #################### number_of_pedestrians_killed ####################

 [0 1]

 #################### number_of_cyclist_injured ####################

 [0 1 3 2]

 #################### number_of_cyclist_killed ####################

 [0 1]

 #################### number_of_motorist_injured ####################

 [ 0  1  3  8  2  4  5  6  7  9 11 15 10]

 #################### number_of_motorist_killed ####################

 [0 1 2 3]

 #################### contributing_factor_vehicle_1 ####################

 ['Driver Inattention/Distraction' 'Failure to Yield Right-of-Way'
 'Unspecified' 'Unsafe Lane Changing' 'Passing or Lane Usage Improper'
 'Other Vehicular' 'Passing Too Closely' 'Backing Unsafely'
 'Traffic Control Disregarded' 'Driver Inexperience' 'Unsafe Speed'
 'Following Too Closely' 'Obstruction/Debris' 'Turning Improperly'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Pavement Slippery' 'Aggressive Driving/Road Rage'
 'Reaction to Uninvolved Vehicle' 'Steering Failure' 'Oversized Vehicle'
 'View Obstructed/Limited' 'Traffic Control Device Improper/Non-Working'
 'Fell Asleep' 'Glare' 'Passenger Distraction' 'Accelerator Defective'
 'Failure to Keep Right' 'Alcohol Involvement' 'Outside Car Distraction'
 'Brakes Defective' nan 'Pavement Defective' 'Driverless/Runaway Vehicle'
 'Fatigued/Drowsy' 'Animals Action' 'Tire Failure/Inadequate'
 'Lane Marking Improper/Inadequate' 'Physical Disability' 'Illnes'
 'Cell Phone (hand-Held)' 'Lost Consciousness' 'Drugs (illegal)'
 'Other Lighting Defects' 'Shoulders Defective/Improper' 'Tinted Windows'
 'Using On Board Navigation Device' 'Cell Phone (hands-free)'
 'Vehicle Vandalism' 'Tow Hitch Defective' 'Prescription Medication'
 'Listening/Using Headphones' 'Eating or Drinking' 'Headlights Defective'
 'Other Electronic Device' 'Windshield Inadequate']

 #################### contributing_factor_vehicle_2 ####################

 ['Unspecified' nan 'Other Vehicular' 'Failure to Yield Right-of-Way'
 'Backing Unsafely' 'Driver Inattention/Distraction' 'Turning Improperly'
 'Unsafe Lane Changing' 'Following Too Closely' 'Pavement Slippery'
 'Aggressive Driving/Road Rage'
 'Traffic Control Device Improper/Non-Working' 'Passing Too Closely'
 'Passing or Lane Usage Improper'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Driver Inexperience' 'Unsafe Speed' 'Oversized Vehicle'
 'Passenger Distraction' 'Outside Car Distraction'
 'Traffic Control Disregarded' 'Reaction to Uninvolved Vehicle'
 'Obstruction/Debris' 'Failure to Keep Right' 'Fatigued/Drowsy'
 'Alcohol Involvement' 'View Obstructed/Limited' 'Glare'
 'Lane Marking Improper/Inadequate' 'Illnes' 'Accelerator Defective'
 'Pavement Defective' 'Tire Failure/Inadequate' 'Brakes Defective'
 'Tow Hitch Defective' 'Driverless/Runaway Vehicle' 'Animals Action'
 'Lost Consciousness' 'Tinted Windows' 'Using On Board Navigation Device'
 'Headlights Defective' 'Fell Asleep' 'Listening/Using Headphones'
 'Other Lighting Defects' 'Steering Failure' 'Drugs (illegal)'
 'Cell Phone (hand-Held)' 'Other Electronic Device']

 #################### contributing_factor_vehicle_3 ####################

 [nan 'Unspecified' 'Following Too Closely' 'Pavement Slippery'
 'Other Vehicular' 'Outside Car Distraction'
 'Driver Inattention/Distraction' 'Obstruction/Debris'
 'Aggressive Driving/Road Rage' 'Oversized Vehicle' 'Drugs (illegal)'
 'Reaction to Uninvolved Vehicle' 'Unsafe Speed' 'Glare'
 'Driver Inexperience' 'Passing or Lane Usage Improper'
 'Failure to Yield Right-of-Way' 'Unsafe Lane Changing'
 'Traffic Control Disregarded' 'Driverless/Runaway Vehicle'
 'Turning Improperly' 'Traffic Control Device Improper/Non-Working'
 'Failure to Keep Right' 'Passing Too Closely'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'View Obstructed/Limited' 'Backing Unsafely' 'Other Electronic Device'
 'Alcohol Involvement' 'Passenger Distraction' 'Brakes Defective']

 #################### contributing_factor_vehicle_4 ####################

 [nan 'Unspecified' 'Following Too Closely'
 'Driver Inattention/Distraction' 'Other Vehicular' 'Unsafe Speed'
 'Reaction to Uninvolved Vehicle' 'Pavement Slippery' 'Obstruction/Debris'
 'Outside Car Distraction' 'Backing Unsafely'
 'Aggressive Driving/Road Rage' 'Alcohol Involvement']

 #################### contributing_factor_vehicle_5 ####################

 [nan 'Unspecified' 'Following Too Closely' 'Unsafe Speed'
 'Other Vehicular' 'Reaction to Uninvolved Vehicle' 'Pavement Slippery'
 'Driver Inattention/Distraction' 'Obstruction/Debris'
 'Passing Too Closely']

 #################### vehicle_type_code_3 ####################

 [nan 'Bus' 'Sedan' 'Station Wagon/Sport Utility Vehicle' 'Taxi' 'Van'
 'Bike' 'Tractor Truck Gasoline' 'Pick-up Truck' 'van' 'bus' 'Box Truck'
 'Carry All' 'Dump' 'Ambulance' 'PK' 'Convertible' 'Motorcycle'
 'Open Body' 'Fire' 'E-Bik' 'FOOD' 'DELIV' 'box t' 'Tractor Truck Diesel'
 'SCHOO' 'Moped' 'PASSENGER VEHICLE' 'Motorscooter' 'Motorbike' 'AMBUL'
 'Flat Bed' 'Lift Boom' 'TRAIL' 'hrse' 'Trail' 'LIMO'
 'Tow Truck / Wrecker' 'Flat Rack' 'E-Scooter' 'Refrigerated Van'
 '4 dr sedan' 'Garbage or Refuse' 'Beverage Truck' 'TRUCK' 'E-BIKE'
 'AMBULANCE' 'Tanker' '3-Door' 'E-Bike' 'Stake or Rack' 'CARGO VAN'
 'unknown' 'TRAILER' 'Concrete Mixer' 'UHAUL Trai' 'FIRE TRUCK'
 'UNATTACHED' 'Multi-Wheeled Vehicle' 'UHAUL BOX' 'trailer' 'CONCRETE M'
 'FDNY FIRET' 'MTA BUS' 'Pallet']

 #################### vehicle_type_code_4 ####################

 [nan 'Station Wagon/Sport Utility Vehicle' 'Sedan' 'Taxi' 'Pick-up Truck'
 'Box Truck' 'Lift Boom' 'Tractor Truck Diesel' 'Convertible' 'TOYOT'
 'Motorcycle' 'Bus' 'Ambulance' 'SPORT UTILITY / STATION WAGON'
 'Motorscooter' 'Dump' 'Van' 'Refrigerated Van' 'Bike' 'E-Scooter'
 'FLATBED TR' 'E-Bike' 'trailor' 'CARGO VAN' 'TRAILER' 'LIMO' 'Carry All'
 'Box' '4 dr sedan' 'FDNY' 'Open Body' 'Chassis Cab']

 #################### vehicle_type_code_5 ####################

 [nan 'Sedan' 'Station Wagon/Sport Utility Vehicle' 'Pick-up Truck' 'Bus'
 'Motorcycle' 'Wagon' 'Taxi' 'back' 'Box Truck' 'Convertible' 'Ambulance'
 'PK' 'Van' 'Tractor Truck Diesel' 'Motorscooter' 'Box truck' 'E-Scooter'
 'BOX Truck']

In [9]:
# To avoid to lose informations, i have taken the decision to avoid to consolidate all factors and type codes, repectively.

"""
regroup in other_factor items that occurence is less than 1% 
contributing_factor_vehicle_1
"""

high_occ_fact_1 = ['Driver Inattention/Distraction',"Unspecified",'Following Too Closely',
                 'Failure to Yield Right-of-Way','Backing Unsafely','Passing or Lane Usage Improper',
                 'Passing Too Closely','Other Vehicular','Unsafe Lane Changing','Unsafe Speed',
                 'Traffic Control Disregarded','Turning Improperly','Driver Inexperience',
                 'Reaction to Uninvolved Vehicle','Alcohol Involvement' ]

df["contributing_factor_vehicle_1"] = df["contributing_factor_vehicle_1"].apply(lambda x : 'Other_factor' if x not in high_occ_fact_1 else x)
#df.contributing_factor_vehicle_1.value_counts()

In [10]:
"""
regroup in other factors items that occurence is less than 0.1%
contributing_factor_vehicle_2
"""
high_occ_fact_2 = ['Unspecified','Driver Inattention/Distraction','Following Too Closely','Other Vehicular',
                   'Passing or Lane Usage Improper','Failure to Yield Right-of-Way',
                   'Passing Too Closely','Unsafe Lane Changing','Unsafe Speed','Traffic Control Disregarded',
                   'Backing Unsafely','Reaction to Uninvolved Vehicle',
                   'Turning Improperly','Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
                   'Driver Inexperience','View Obstructed/Limited'  ]

df["contributing_factor_vehicle_2"] = df["contributing_factor_vehicle_2"].apply(lambda x : 'Other_factor' if x not in high_occ_fact_2 else x)
#df.contributing_factor_vehicle_2.value_counts()

In [11]:
"""
regroup in other factors items that occurence is less than 0.1%
contributing_factor_vehicle_2
"""
high_occ_fact_3 = ['Unspecified','Following Too Closely','Other Vehicular','Driver Inattention/Distraction']
df["contributing_factor_vehicle_3"] = df["contributing_factor_vehicle_3"].apply(lambda x : 'Other_factor' if x not in high_occ_fact_3 else x)
#df.contributing_factor_vehicle_3.value_counts()

In [12]:
"""
regroup in other factors items that occurence is less than 0.75 %
vehicle_type_code_1
"""
high_occ_code_1 = ['Sedan','Station Wagon/Sport Utility Vehicle','Taxi','Pick-up Truck','Box Truck',
                   'Bike','BusMotorcycle','Tractor Truck Diesel','unspecified']
df["vehicle_type_code_1"] = df["vehicle_type_code_1"].apply(lambda x : 'Other_code' if x not in high_occ_code_1 else x)

#df.vehicle_type_code_1.value_counts().head(10)

In [13]:
"""
regroup in other factors items that occurence is less than 0.73 %
vehicle_type_code_2
"""
high_occ_code_2 = ['Sedan','unspecified','Station Wagon/Sport Utility Vehicle','Bike','Taxi','Pick-up Truck',
                   'Box Truck','Bus','Tractor Truck Diesel','Motorcycle']
df["vehicle_type_code_2"] = df["vehicle_type_code_2"].apply(lambda x : 'Other_code' if x not in high_occ_code_2 else x)
#df.vehicle_type_code_2.value_counts()

In [14]:
"""
regroup in other factors items that occurence is less than 0.073 %
vehicle_type_code_3
"""
high_occ_code_3 = ['Sedan','Station Wagon/Sport Utility Vehicle','Pick-up Truck','Taxi','Box Truck']
df["vehicle_type_code_3"] = df["vehicle_type_code_3"].apply(lambda x : 'Other_code' if x not in high_occ_code_3 else x)
#df.vehicle_type_code_3.value_counts()

# Eliminate blank spaces

In [15]:
str_col=['crash_date', 'crash_time', 'borough', 'zip_code','on_street_name', 'off_street_name',
          'cross_street_name','contributing_factor_vehicle_1',
         'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
         'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
         'vehicle_type_code_1', 'vehicle_type_code_2',
         'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5']

for col in str_col:
    df = df.astype({col: str})
    
for col in str_col:
    for item in df[col]:
        item.strip()

# Date format

In [16]:
"""
Reformat the date
"""
df['crash_date'] = df['crash_date'].apply(lambda x : x[:10]).astype(object)
df['crash_date'] = pd.to_datetime(df.crash_date, format= "%Y-%m-%d")

In [17]:
"""
create 3 specific columns based on date
"""
df['crash_day'] = df['crash_date'].dt.day_name()
df['crash_month'] = df['crash_date'].dt.month
df['crash_year'] = df['crash_date'].dt.year
#df.sample(5)

# missing values

In [18]:
"""Drop columns with more than 99,75% of missing values"""
df.drop(['contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
         'vehicle_type_code_4','vehicle_type_code_5'], axis=1, inplace=True)

In [156]:


"""filling the missing values that we can't replace"""
missing_val = 'unspecified'
df['contributing_factor_vehicle_1'].fillna(missing_val, inplace =True)
df['contributing_factor_vehicle_2'].fillna(missing_val, inplace =True)
df['contributing_factor_vehicle_3'].fillna(missing_val, inplace =True)
df['vehicle_type_code_1'].fillna(missing_val, inplace =True)
df['vehicle_type_code_2'].fillna(missing_val, inplace =True)
df['vehicle_type_code_3'].fillna(missing_val, inplace =True)
df.location.fillna(missing_val, inplace =True)
df.on_street_name.fillna(missing_val, inplace = True)

In [20]:
"""
Check duplicates
"""
df.duplicated().any()

False

In [21]:
"""
Replace 'nan' by proper np.nan
"""
df.replace('nan',np.nan, inplace=True)

In [22]:

df.isnull().sum(axis=0)   #The dataset has to contain no missing values ("" or null)

crash_date                           0
crash_time                           0
borough                          35026
zip_code                         35034
latitude                          8035
longitude                         8035
location                             0
on_street_name                   26009
off_street_name                  52875
cross_street_name                74033
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1        0
contributing_factor_vehicle_2        0
contributing_factor_vehicle_3        0
collision_id                         0
vehicle_type_code_1                  0
vehicle_type_code_2                  0
vehicle_type_code_3                  0
crash_day                            0
crash_month                          0
crash_year                           0
dtype: int64

# location

In [24]:
"""replacing (0.0,0.0) by NaN"""
df['location'] = df['location'].replace('(0.0, 0.0)',np.nan)

In [25]:
"""combine latitude and longitude to get missing location"""
df[['latitude', 'longitude']] = df[['latitude', 'longitude']].astype(str)
df['combine_location'] = df[['latitude', 'longitude']].apply(lambda x: ','.join(x) , axis=1)
df['combine_location'] = df['combine_location'].apply(lambda x : '('+ x + ')')

df.combine_location.isnull().value_counts()

"""integrate off_street_name to cross_street_name"""
df.location.fillna(df.combine_location)
df.location.replace('(NaN,NaN)',np.nan, inplace=True)

In [ ]:
"""
Drop the latitude and longitude since it has been included in the location
"""
df.drop(['latitude','longitude'], axis=1, inplace=True)

In [26]:
# df['location'].value_counts()
df.location.isnull().value_counts()

False    99831
True       169
Name: location, dtype: int64

# Borough & zip_code

In [29]:
"""
Chek unique values 
"""
df.borough.unique()

array(['STATEN ISLAND', 'BRONX', 'QUEENS', nan, 'BROOKLYN', 'MANHATTAN'],
      dtype=object)

In [30]:
"""
Fill the zip_code to get the nearest zip_code in order to get the borough
"""
df.sort_values(by='location',inplace=True)
df.zip_code.fillna(method='ffill', inplace=True)
df.reset_index(drop=True,inplace=True)
df

,crash_date,crash_time,borough,zip_code,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,crash_day,crash_month,crash_year,combine_location
0,2019-08-03,17:25,STATEN ISLAND,10307,"(40.501465, -74.24523)",SWINNERTON STREET,CLERMONT AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Unspecified,4182249,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Saturday,8,2019,"(40.501465,-74.24523)"
1,2019-09-07,0:36,NaN,10307,"(40.50331, -74.237465)",SPRAGUE AVENUE,NaN,NaN,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,Unspecified,4201115,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,Saturday,9,2019,"(40.50331,-74.237465)"
2,2019-08-17,15:00,NaN,10307,"(40.503387, -74.24883)",FINLAY STREET,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,Other_factor,Other_factor,4198160,Sedan,Other_code,Other_code,Saturday,8,2019,"(40.503387,-74.24883)"
3,2017-05-06,2:55,STATEN ISLAND,10307,"(40.503414, -74.24496)",NaN,NaN,463 MAIN STREET,0,0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,Unspecified,3664377,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Saturday,5,2017,"(40.503414,-74.24495999999999)"
4,2020-07-08,20:20,NaN,10307,"(40.50447, -74.243454)",HYLAN BOULEVARD,NaN,NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,Other_factor,4327159,Sedan,Sedan,Other_code,Wednesday,7,2020,"(40.50447,-74.243454)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2019-11-11,23:11,BROOKLYN,11229,NaN,KINGS HIGHWAY,OCEAN AVENUE,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Other_factor,4239412,Sedan,Sedan,Other_code,Monday,11,2019,"(0.0,0.0)"
99996,2019-11-10,3:46,QUEENS,11377,NaN,ROOSEVELT AVENUE,58 STREET,NaN,1,0,0,0,0,0,1,0,Unspecified,Other_factor,Other_factor,4239029,Station Wagon/Sport Utility Vehicle,Other_code,Other_code,Sunday,11,2019,"(0.0,0.0)"
99997,2019-11-11,21:40,BROOKLYN,11221,NaN,NaN,NaN,829 GATES AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Other_factor,4239762,Sedan,Sedan,Other_code,Monday,11,2019,"(0.0,0.0)"
99998,2019-11-11,23:30,MANHATTAN,10013,NaN,NaN,NaN,9 CROSBY STREET,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,Other_factor,4239642,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Other_code,Monday,11,2019,"(0.0,0.0)"
99999,2019-11-10,3:30,QUEENS,11419,NaN,NaN,NaN,134-30 ATLANTIC AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Other_factor,4238994,Sedan,Other_code,Other_code,Sunday,11,2019,"(0.0,0.0)"

In [31]:
"""
adapt the dtype of the zip_code
""""
df.zip_code = df.zip_code.astype(int)

In [32]:
#df.dtypes

In [33]:
"""
Regroup borrough to fill the zip_code based on the most used one for a specific borough
"""
df1 = df.groupby('borough')['zip_code'].apply(lambda x: x.value_counts().index[0]).reset_index()
df1

         borough  zip_code
0          BRONX     10457
1       BROOKLYN     11207
2      MANHATTAN     10002
3         QUEENS     11385
4  STATEN ISLAND     10304

### we can select the borough with the nearest Zip_code of the previous DataFrame (df1)

### or we can go back to the original and sorted DataFrame (df) (sorted based on zip_code) to look for the nearest zip_code:

In [81]:
"""
Index of missing values in the borough column
"""
nan_index = df.loc[pd.isna(df["borough"]), :].index

### First iterations to fill the missing values in the borough column

In [ ]:
"""
Iteration using the nearest zip_code with a radius of one
"""
while True:
    nan_index = df.loc[pd.isna(df["borough"]), :].index
    for i in nan_index:
        c = df.zip_code[i-1]
        d = df.zip_code[i]
        e = df.zip_code[i+1]
        if ( abs(d-c)< abs(d-e)):
            df.borough[i]=df.borough[i-1]
        else :
            df.borough[i]=df.borough[i+1]

        if len(nan_index)==0:
            break

In [145]:
"""
Iteration using the nearest zip_code with a radius of 3
"""
while True:
    nan_index = df.loc[pd.isna(df["borough"]), :].index
    for i in nan_index:
        a = df.zip_code[i-3]
        b = df.zip_code[i-2]
        c = df.zip_code[i-1]
        d = df.zip_code[i]
        e = df.zip_code[i+1]
        f = df.zip_code[i+2]
        g = df.zip_code[i+3]
        if ( abs(d-c)< abs(d-e)):
            df.borough[i]=df.borough[i-1]
        elif ( abs(d-c)> abs(d-e)):
            df.borough[i]=df.borough[i+1]
        elif ( abs(d-b)< abs(d-f)):
            df.borough[i]=df.borough[i-2]
        elif ( abs(d-b)> abs(d-f)):
            df.borough[i]=df.borough[i+2]
        elif ( abs(d-a)< abs(d-g)):
            df.borough[i]=df.borough[i-3]
        elif ( abs(d-a)> abs(d-g)):
            df.borough[i]=df.borough[i+3]

    if len(nan_index)==0:                                ##still remain 10,9 % of missing values after using both iterations
        break

In [ ]:
"""
Iteration using the nearest zip_code with a radius of 5
"""
while True:
    nan_index = df.loc[pd.isna(df["borough"]), :].index
    for i in nan_index:
        a2 = df.zip_code[i-5]
        a1 = df.zip_code[i-4]
        a = df.zip_code[i-3]
        b = df.zip_code[i-2]
        c = df.zip_code[i-1]
        d = df.zip_code[i]
        e = df.zip_code[i+1]
        f = df.zip_code[i+2]
        g = df.zip_code[i+3]
        g1 = df.zip_code[i+4]
        g2 = df.zip_code[i+5]
        if ( abs(d-c)< abs(d-e)):
            df.borough[i]=df.borough[i-1]
        elif ( abs(d-c)> abs(d-e)):
            df.borough[i]=df.borough[i+1]
        elif ( abs(d-b)< abs(d-f)):
            df.borough[i]=df.borough[i-2]
        elif ( abs(d-b)> abs(d-f)):
            df.borough[i]=df.borough[i+2]
        elif ( abs(d-a)< abs(d-g)):
            df.borough[i]=df.borough[i-3]
        elif ( abs(d-a)> abs(d-g)):
            df.borough[i]=df.borough[i+3]
        elif ( abs(d-a1)< abs(d-g1)):
            df.borough[i]=df.borough[i-4]
        elif ( abs(d-a1)> abs(d-g1)):
            df.borough[i]=df.borough[i+4]
        elif ( abs(d-a2)< abs(d-g2)):
            df.borough[i]=df.borough[i-5]
        elif ( abs(d-a2)> abs(d-g2)):
            df.borough[i]=df.borough[i+5]                       # still remain 7,4% of missing values

    if len(nan_index)==0:
        break

### Second iteration to fill missing values

In [152]:
"""
Get the first nonempty value of a list
"""
x = ['',np.nan,'nan',0]
def get_nonempty(list_of_strings):
    for s in list_of_strings:
        if s not in x :
            return s

"""
Iteration using the nearest borough values previously ordered based on sorted zip codes
"""            
nan_index = df.loc[pd.isna(df["borough"]), :].index
for i in nan_index:
    down_list = df.borough[i:i+100]               #list of borough elements from a specific index
    up_list = df.borough[i:i-100:-1]
    a = get_nonempty(down_list)          #get the first non empty element
    b = get_nonempty(up_list)
    c = list(down_list).index(a)                        #get index of the first non empty element
    d = list(up_list).index(b)
    if ( abs(i-c)< abs(i-d)):
        df.borough[i] = a
    else:
        df.borough[i] = b                    # NO missing values left /VERY VERY fast execution

# Combination of complementary columns

In [99]:
"""
integrate off_street_name to cross_street_name
""" 
df['nearest_street'] = df.cross_street_name.fillna(df.off_street_name)

In [100]:
"""
drop the off_street_name and the cross_street.name since they have been combined
"""
df.drop(['cross_street_name','off_street_name'], axis=1, inplace=True)

In [101]:
"""
specify the unspecified near_street
"""
df.nearest_street.fillna('unspecified', inplace =True)

In [153]:
df.isnull().sum(axis=0)

crash_date                       0
crash_time                       0
borough                          0
zip_code                         0
location                         0
on_street_name                   0
number_of_persons_injured        0
number_of_persons_killed         0
number_of_pedestrians_injured    0
number_of_pedestrians_killed     0
number_of_cyclist_injured        0
number_of_cyclist_killed         0
number_of_motorist_injured       0
number_of_motorist_killed        0
contributing_factor_vehicle_1    0
contributing_factor_vehicle_2    0
contributing_factor_vehicle_3    0
collision_id                     0
vehicle_type_code_1              0
vehicle_type_code_2              0
vehicle_type_code_3              0
crash_day                        0
crash_month                      0
crash_year                       0
combine_location                 0
nearest_street                   0
dtype: int64

In [154]:
"""
one hot encoding
"""
pd.get_dummies(df[['borough','contributing_factor_vehicle_1', 'contributing_factor_vehicle_2','contributing_factor_vehicle_3','vehicle_type_code_1','vehicle_type_code_2','vehicle_type_code_3']])

,borough_BRONX,borough_BROOKLYN,borough_MANHATTAN,borough_QUEENS,borough_STATEN ISLAND,contributing_factor_vehicle_1_Alcohol Involvement,contributing_factor_vehicle_1_Backing Unsafely,contributing_factor_vehicle_1_Driver Inattention/Distraction,contributing_factor_vehicle_1_Driver Inexperience,contributing_factor_vehicle_1_Failure to Yield Right-of-Way,contributing_factor_vehicle_1_Following Too Closely,contributing_factor_vehicle_1_Other Vehicular,contributing_factor_vehicle_1_Other_factor,contributing_factor_vehicle_1_Passing Too Closely,contributing_factor_vehicle_1_Passing or Lane Usage Improper,contributing_factor_vehicle_1_Reaction to Uninvolved Vehicle,contributing_factor_vehicle_1_Traffic Control Disregarded,contributing_factor_vehicle_1_Turning Improperly,contributing_factor_vehicle_1_Unsafe Lane Changing,contributing_factor_vehicle_1_Unsafe Speed,contributing_factor_vehicle_1_Unspecified,contributing_factor_vehicle_2_Backing Unsafely,contributing_factor_vehicle_2_Driver Inattention/Distraction,contributing_factor_vehicle_2_Driver Inexperience,contributing_factor_vehicle_2_Failure to Yield Right-of-Way,contributing_factor_vehicle_2_Following Too Closely,contributing_factor_vehicle_2_Other Vehicular,contributing_factor_vehicle_2_Other_factor,contributing_factor_vehicle_2_Passing Too Closely,contributing_factor_vehicle_2_Passing or Lane Usage Improper,contributing_factor_vehicle_2_Pedestrian/Bicyclist/Other Pedestrian Error/Confusion,contributing_factor_vehicle_2_Reaction to Uninvolved Vehicle,contributing_factor_vehicle_2_Traffic Control Disregarded,contributing_factor_vehicle_2_Turning Improperly,contributing_factor_vehicle_2_Unsafe Lane Changing,contributing_factor_vehicle_2_Unsafe Speed,contributing_factor_vehicle_2_Unspecified,contributing_factor_vehicle_2_View Obstructed/Limited,contributing_factor_vehicle_3_Driver Inattention/Distraction,contributing_factor_vehicle_3_Following Too Closely,contributing_factor_vehicle_3_Other Vehicular,contributing_factor_vehicle_3_Other_factor,contributing_factor_vehicle_3_Unspecified,vehicle_type_code_1_Bike,vehicle_type_code_1_Box Truck,vehicle_type_code_1_Other_code,vehicle_type_code_1_Pick-up Truck,vehicle_type_code_1_Sedan,vehicle_type_code_1_Station Wagon/Sport Utility Vehicle,vehicle_type_code_1_Taxi,vehicle_type_code_1_Tractor Truck Diesel,vehicle_type_code_2_Bike,vehicle_type_code_2_Box Truck,vehicle_type_code_2_Bus,vehicle_type_code_2_Motorcycle,vehicle_type_code_2_Other_code,vehicle_type_code_2_Pick-up Truck,vehicle_type_code_2_Sedan,vehicle_type_code_2_Station Wagon/Sport Utility Vehicle,vehicle_type_code_2_Taxi,vehicle_type_code_2_Tractor Truck Diesel,vehicle_type_code_3_Box Truck,vehicle_type_code_3_Other_code,vehicle_type_code_3_Pick-up Truck,vehicle_type_code_3_Sedan,vehicle_type_code_3_Station Wagon/Sport Utility Vehicle,vehicle_type_code_3_Taxi
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
99996,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
99997,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
99998,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
99999,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0

In [155]:
"""
save the output
"""
df.to_csv('output2.csv')

# Test

In [158]:
dftest= pd.read_csv('output2.csv')

In [160]:
dftest.head()

,Unnamed: 0,crash_date,crash_time,borough,zip_code,location,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,crash_day,crash_month,crash_year,combine_location,nearest_street
0,0,2019-08-03,17:25,STATEN ISLAND,10307,"(40.501465, -74.24523)",SWINNERTON STREET,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Unspecified,4182249,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Saturday,8,2019,"(40.501465,-74.24523)",CLERMONT AVENUE
1,1,2019-09-07,0:36,STATEN ISLAND,10307,"(40.50331, -74.237465)",SPRAGUE AVENUE,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,Unspecified,4201115,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,Saturday,9,2019,"(40.50331,-74.237465)",unspecified
2,2,2019-08-17,15:00,STATEN ISLAND,10307,"(40.503387, -74.24883)",FINLAY STREET,0,0,0,0,0,0,0,0,Unspecified,Other_factor,Other_factor,4198160,Sedan,Other_code,Other_code,Saturday,8,2019,"(40.503387,-74.24883)",unspecified
3,3,2017-05-06,2:55,STATEN ISLAND,10307,"(40.503414, -74.24496)",unspecified,0,0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,Unspecified,3664377,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Saturday,5,2017,"(40.503414,-74.24495999999999)",463 MAIN STREET
4,4,2020-07-08,20:20,STATEN ISLAND,10307,"(40.50447, -74.243454)",HYLAN BOULEVARD,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,Other_factor,4327159,Sedan,Sedan,Other_code,Wednesday,7,2020,"(40.50447,-74.243454)",unspecified

In [161]:
dftest.isnull().sum(axis=0)

Unnamed: 0                       0
crash_date                       0
crash_time                       0
borough                          0
zip_code                         0
location                         0
on_street_name                   0
number_of_persons_injured        0
number_of_persons_killed         0
number_of_pedestrians_injured    0
number_of_pedestrians_killed     0
number_of_cyclist_injured        0
number_of_cyclist_killed         0
number_of_motorist_injured       0
number_of_motorist_killed        0
contributing_factor_vehicle_1    0
contributing_factor_vehicle_2    0
contributing_factor_vehicle_3    0
collision_id                     0
vehicle_type_code_1              0
vehicle_type_code_2              0
vehicle_type_code_3              0
crash_day                        0
crash_month                      0
crash_year                       0
combine_location                 0
nearest_street                   0
dtype: int64

# Profiling report of the output

In [163]:
prof = ProfileReport(df)
prof.to_file(output_file = f"profile_report_{file_size}_final_in.html")

Summarize dataset: 100%|| 40/40 [03:26<00:00,  5.17s/it, Completed]
Generate report structure: 100%|| 1/1 [00:39<00:00, 39.36s/it]
Render HTML: 100%|| 1/1 [00:09<00:00,  9.47s/it]
Export report to file: 100%|| 1/1 [00:00<00:00,  4.41it/s]