In [328]:
import re
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
from scipy.spatial.distance import pdist, cdist
from datetime import datetime as dt

In [329]:
pd.set_option("display.max_columns",None)

In [330]:
file_size= 100000
filename=f"data_{file_size}.csv"
dtypes= {'crash_date': str,
         'crash_time': str,
         'borough': str,
         'zip_code': str,
         'latitude' :float,
         'longitude' :float,
         'location': str,
         'on_street_name': str,
         'off_street_name': str,
         'cross_street_name': str,
         'number_of_persons_injured': int,
         'number_of_persons_killed': int,
         'number_of_pedestrians_injured' :int,
         'number_of_pedestrians_killed' :int,
         'number_of_cyclist_injured' :int,
         'number_of_cyclist_killed' :int,
         'number_of_motorist_injured' :int,
         'number_of_motorist_killed' :int,
         'contributing_factor_vehicle_1': str,
         'contributing_factor_vehicle_2': str,
         'contributing_factor_vehicle_3': str,
         'contributing_factor_vehicle_4': str,
         'contributing_factor_vehicle_5': str,
         'collision_id' :int,
         'vehicle_type_code1': str,
         'vehicle_type_code2': str,
         'vehicle_type_code_3': str,
         'vehicle_type_code_4': str,
         'vehicle_type_code_5': str}
df=pd.read_csv(filename,dtype=dtypes)

In [331]:
df.columns
#df.dtypes

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'location', 'on_street_name', 'off_street_name',
       'cross_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1',
       'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
       'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
       'collision_id', 'vehicle_type_code1', 'vehicle_type_code2',
       'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5'],
      dtype='object')

In [332]:
"""change some column name"""
df.rename(columns={'vehicle_type_code1': 'vehicle_type_code_1', 'vehicle_type_code2':'vehicle_type_code_2'}, inplace=True)

# Profiling report

In [294]:
prof = ProfileReport(df)
prof.to_file(output_file = f"profile_report_{file_size}_in2.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=43.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [385]:
df.head(20)

,crash_date,crash_time,borough,zip_code,location,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,crash_day,crash_month,crash_year,combine_location,nearest_street
0,2019-08-03,17:25,STATEN ISLAND,10307,"(40.501465, -74.24523)",SWINNERTON STREET,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Unspecified,4182249,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Saturday,8,2019,"(40.501465,-74.24523)",CLERMONT AVENUE
1,2019-09-07,0:36,BROOKLYN,10307,"(40.50331, -74.237465)",SPRAGUE AVENUE,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,Unspecified,4201115,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,Saturday,9,2019,"(40.50331,-74.237465)",unspecified
2,2019-08-17,15:00,STATEN ISLAND,10307,"(40.503387, -74.24883)",FINLAY STREET,0,0,0,0,0,0,0,0,Unspecified,Other_factor,Other_factor,4198160,Sedan,Other_code,Other_code,Saturday,8,2019,"(40.503387,-74.24883)",unspecified
3,2017-05-06,2:55,STATEN ISLAND,10307,"(40.503414, -74.24496)",NaN,0,0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,Unspecified,3664377,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Saturday,5,2017,"(40.503414,-74.24495999999999)",463 MAIN STREET
4,2020-07-08,20:20,STATEN ISLAND,10307,"(40.50447, -74.243454)",HYLAN BOULEVARD,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,Other_factor,4327159,Sedan,Sedan,Other_code,Wednesday,7,2020,"(40.50447,-74.243454)",unspecified
5,2020-07-06,17:00,STATEN ISLAND,10307,"(40.504482, -74.24727)",NaN,1,0,1,0,0,0,0,0,Unspecified,Other_factor,Other_factor,4326628,Station Wagon/Sport Utility Vehicle,Other_code,Other_code,Monday,7,2020,"(40.504482,-74.24727)",171 CARTERET STREET
6,2019-07-09,12:50,STATEN ISLAND,10307,"(40.505527, -74.23819)",HYLAN BOULEVARD,2,0,0,0,0,0,2,0,Following Too Closely,Unspecified,Other_factor,4167167,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Other_code,Tuesday,7,2019,"(40.505527,-74.23819)",SPRAGUE AVENUE
7,2019-07-20,16:30,STATEN ISLAND,10307,"(40.506187, -74.2349)",HYLAN BOULEVARD,1,0,0,0,0,0,1,0,Failure to Yield Right-of-Way,Unspecified,Other_factor,4173987,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Other_code,Saturday,7,2019,"(40.506187,-74.2349)",JOLINE AVENUE
8,2020-03-15,4:10,STATEN ISLAND,10307,"(40.506187, -74.2349)",JOLINE AVENUE,1,0,1,0,0,0,0,0,Driver Inattention/Distraction,Other_factor,Other_factor,4307254,Sedan,Other_code,Other_code,Sunday,3,2020,"(40.506187,-74.2349)",HYLAN BOULEVARD
9,2020-07-18,7:26,STATEN ISLAND,10307,"(40.506187, -74.2349)",HYLAN BOULEVARD,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,Other_factor,Other_factor,4331848,Sedan,Other_code,Other_code,Saturday,7,2020,"(40.506187,-74.2349)",JOLINE AVENUE
10,2020-09-08,6:30,STATEN ISLAND,10307,"(40.506756, -74.23307)",HYLAN BOULEVARD,1,0,0,0,1,0,0,0,Driver Inattention/Distraction,Unspecified,Other_factor,4346547,Station Wagon/Sport Utility Vehicle,Bike,Other_code,Tuesday,9,2020,"(40.506756,-74.23307)",BEDELL AVENUE
11,2020-05-08,20:10,STATEN ISLAND,10307,"(40.50688, -74.253006)",TOTTENVILLE PLACE,0,0,0,0,0,0,0,0,Unspecified,Other_factor,Other_factor,4312505,Station Wagon/Sport Utility Vehicle,Other_code,Other_code,Friday,5,2020,"(40.506879999999995,-74.253006)",unspecified
12,2020-08-02,0:15,STATEN ISLAND,10307,"(40.507458, -74.235855)",NaN,0,0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,Other_factor,4334797,Sedan,Station Wagon/Sport Utility Vehicle,Other_code,Sunday,8,2020,"(40.507458,-74.235855)",16 ADLERS LANE
13,2020-05-17,21:10,STATEN ISLAND,10307,"(40.50773, -74.230064)",HYLAN BOULEVARD,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,Other_factor,4314268,Sedan,Sedan,Other_code,Sunday,5,2020,"(40.50773,-74.230064)",unspecified
14,2020-07-19,12:45,STATEN ISLAND,10309,"(40.50788, -74.22924)",NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Other_factor,4329743,Other_code,Sedan,Other_code,Sunday,7,2020,"(40.50788,-74.22924)",6778 HYLAN BOULEVARD
15,2020-03-27,10:18,STATEN ISLAND,10309,"(40.50828, -74.24949)",ASPINWALL STREET,0,0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,Unspecified,4307604,Pick-up Truck,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Friday,3,2020,"(40.50828,-74.24949000000001)",unspecified
16,2017-05-08,11:45,STATEN ISLAND,10309,"(40.5086, -74.223785)",HYLAN BOULEVARD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Other_factor,3665635,Station Wagon/Sport Utility Vehicle,Sedan,Other_code,Monday,5,2017,"(40.5086,-74.22378499999999)",unspecified
17,2020-09-12,13:17,STATEN ISLAND,10309,"(40.5086, -74.223785)",HYLAN BOULEVARD,1,0,0,0,0,0,1,0,Unsafe Speed,Unspecified,Other_factor,4347879,Sedan,Motorcycle,Other_code,Saturday,9,2020,"(40.5086,-74.22378499999999)",RICHARD AVENUE
18,2019-09-05,2:43,STATEN ISLAND,10307,"(40.509163, -74.23388)",BEDELL AVENUE,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,Unspecified,4199901,Sedan,Sedan,Pick-up Truck,Thursday,9,2019,"(40.509163,-74.23388)",KERRY LANE
19,2019-08-16,5:35,STATEN ISLAND,10307,"(40.509167, -74.23056)",PAGE AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Other_factor,Other_factor,4192300,Sedan,Other_code,Other_code,Friday,8,2019,"(40.509167,-74.23056)",unspecified

# Resolve the High cardinality

In [333]:
"""get the distinct observations over requested axis"""
for col in df:
    if df[col].nunique()<100:
        print('\n #################### '+ str(col)+' #################### \n\n',df[col].unique())

 #################### borough ####################

 ['STATEN ISLAND' 'BRONX' 'QUEENS' nan 'BROOKLYN' 'MANHATTAN']

 #################### number_of_persons_injured ####################

 [ 0  1  3  8  2  4  5  6  7  9 11 15 10]

 #################### number_of_persons_killed ####################

 [0 1 2 3]

 #################### number_of_pedestrians_injured ####################

 [0 1 2 3 6 5 4]

 #################### number_of_pedestrians_killed ####################

 [0 1]

 #################### number_of_cyclist_injured ####################

 [0 1 3 2]

 #################### number_of_cyclist_killed ####################

 [0 1]

 #################### number_of_motorist_injured ####################

 [ 0  1  3  8  2  4  5  6  7  9 11 15 10]

 #################### number_of_motorist_killed ####################

 [0 1 2 3]

 #################### contributing_factor_vehicle_1 ####################

 ['Driver Inattention/Distraction' 'Failure to Yield Right-of-Way'
 'Unspecified' 'Unsafe Lane Changing' 'Passing or Lane Usage Improper'
 'Other Vehicular' 'Passing Too Closely' 'Backing Unsafely'
 'Traffic Control Disregarded' 'Driver Inexperience' 'Unsafe Speed'
 'Following Too Closely' 'Obstruction/Debris' 'Turning Improperly'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Pavement Slippery' 'Aggressive Driving/Road Rage'
 'Reaction to Uninvolved Vehicle' 'Steering Failure' 'Oversized Vehicle'
 'View Obstructed/Limited' 'Traffic Control Device Improper/Non-Working'
 'Fell Asleep' 'Glare' 'Passenger Distraction' 'Accelerator Defective'
 'Failure to Keep Right' 'Alcohol Involvement' 'Outside Car Distraction'
 'Brakes Defective' nan 'Pavement Defective' 'Driverless/Runaway Vehicle'
 'Fatigued/Drowsy' 'Animals Action' 'Tire Failure/Inadequate'
 'Lane Marking Improper/Inadequate' 'Physical Disability' 'Illnes'
 'Cell Phone (hand-Held)' 'Lost Consciousness' 'Drugs (illegal)'
 'Other Lighting Defects' 'Shoulders Defective/Improper' 'Tinted Windows'
 'Using On Board Navigation Device' 'Cell Phone (hands-free)'
 'Vehicle Vandalism' 'Tow Hitch Defective' 'Prescription Medication'
 'Listening/Using Headphones' 'Eating or Drinking' 'Headlights Defective'
 'Other Electronic Device' 'Windshield Inadequate']

 #################### contributing_factor_vehicle_2 ####################

 ['Unspecified' nan 'Other Vehicular' 'Failure to Yield Right-of-Way'
 'Backing Unsafely' 'Driver Inattention/Distraction' 'Turning Improperly'
 'Unsafe Lane Changing' 'Following Too Closely' 'Pavement Slippery'
 'Aggressive Driving/Road Rage'
 'Traffic Control Device Improper/Non-Working' 'Passing Too Closely'
 'Passing or Lane Usage Improper'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Driver Inexperience' 'Unsafe Speed' 'Oversized Vehicle'
 'Passenger Distraction' 'Outside Car Distraction'
 'Traffic Control Disregarded' 'Reaction to Uninvolved Vehicle'
 'Obstruction/Debris' 'Failure to Keep Right' 'Fatigued/Drowsy'
 'Alcohol Involvement' 'View Obstructed/Limited' 'Glare'
 'Lane Marking Improper/Inadequate' 'Illnes' 'Accelerator Defective'
 'Pavement Defective' 'Tire Failure/Inadequate' 'Brakes Defective'
 'Tow Hitch Defective' 'Driverless/Runaway Vehicle' 'Animals Action'
 'Lost Consciousness' 'Tinted Windows' 'Using On Board Navigation Device'
 'Headlights Defective' 'Fell Asleep' 'Listening/Using Headphones'
 'Other Lighting Defects' 'Steering Failure' 'Drugs (illegal)'
 'Cell Phone (hand-Held)' 'Other Electronic Device']

 #################### contributing_factor_vehicle_3 ####################

 [nan 'Unspecified' 'Following Too Closely' 'Pavement Slippery'
 'Other Vehicular' 'Outside Car Distraction'
 'Driver Inattention/Distraction' 'Obstruction/Debris'
 'Aggressive Driving/Road Rage' 'Oversized Vehicle' 'Drugs (illegal)'
 'Reaction to Uninvolved Vehicle' 'Unsafe Speed' 'Glare'
 'Driver Inexperience' 'Passing or Lane Usage Improper'
 'Failure to Yield Right-of-Way' 'Unsafe Lane Changing'
 'Traffic Control Disregarded' 'Driverless/Runaway Vehicle'
 'Turning Improperly' 'Traffic Control Device Improper/Non-Working'
 'Failure to Keep Right' 'Passing Too Closely'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'View Obstructed/Limited' 'Backing Unsafely' 'Other Electronic Device'
 'Alcohol Involvement' 'Passenger Distraction' 'Brakes Defective']

 #################### contributing_factor_vehicle_4 ####################

 [nan 'Unspecified' 'Following Too Closely'
 'Driver Inattention/Distraction' 'Other Vehicular' 'Unsafe Speed'
 'Reaction to Uninvolved Vehicle' 'Pavement Slippery' 'Obstruction/Debris'
 'Outside Car Distraction' 'Backing Unsafely'
 'Aggressive Driving/Road Rage' 'Alcohol Involvement']

 #################### contributing_factor_vehicle_5 ####################

 [nan 'Unspecified' 'Following Too Closely' 'Unsafe Speed'
 'Other Vehicular' 'Reaction to Uninvolved Vehicle' 'Pavement Slippery'
 'Driver Inattention/Distraction' 'Obstruction/Debris'
 'Passing Too Closely']

 #################### vehicle_type_code_3 ####################

 [nan 'Bus' 'Sedan' 'Station Wagon/Sport Utility Vehicle' 'Taxi' 'Van'
 'Bike' 'Tractor Truck Gasoline' 'Pick-up Truck' 'van' 'bus' 'Box Truck'
 'Carry All' 'Dump' 'Ambulance' 'PK' 'Convertible' 'Motorcycle'
 'Open Body' 'Fire' 'E-Bik' 'FOOD' 'DELIV' 'box t' 'Tractor Truck Diesel'
 'SCHOO' 'Moped' 'PASSENGER VEHICLE' 'Motorscooter' 'Motorbike' 'AMBUL'
 'Flat Bed' 'Lift Boom' 'TRAIL' 'hrse' 'Trail' 'LIMO'
 'Tow Truck / Wrecker' 'Flat Rack' 'E-Scooter' 'Refrigerated Van'
 '4 dr sedan' 'Garbage or Refuse' 'Beverage Truck' 'TRUCK' 'E-BIKE'
 'AMBULANCE' 'Tanker' '3-Door' 'E-Bike' 'Stake or Rack' 'CARGO VAN'
 'unknown' 'TRAILER' 'Concrete Mixer' 'UHAUL Trai' 'FIRE TRUCK'
 'UNATTACHED' 'Multi-Wheeled Vehicle' 'UHAUL BOX' 'trailer' 'CONCRETE M'
 'FDNY FIRET' 'MTA BUS' 'Pallet']

 #################### vehicle_type_code_4 ####################

 [nan 'Station Wagon/Sport Utility Vehicle' 'Sedan' 'Taxi' 'Pick-up Truck'
 'Box Truck' 'Lift Boom' 'Tractor Truck Diesel' 'Convertible' 'TOYOT'
 'Motorcycle' 'Bus' 'Ambulance' 'SPORT UTILITY / STATION WAGON'
 'Motorscooter' 'Dump' 'Van' 'Refrigerated Van' 'Bike' 'E-Scooter'
 'FLATBED TR' 'E-Bike' 'trailor' 'CARGO VAN' 'TRAILER' 'LIMO' 'Carry All'
 'Box' '4 dr sedan' 'FDNY' 'Open Body' 'Chassis Cab']

 #################### vehicle_type_code_5 ####################

 [nan 'Sedan' 'Station Wagon/Sport Utility Vehicle' 'Pick-up Truck' 'Bus'
 'Motorcycle' 'Wagon' 'Taxi' 'back' 'Box Truck' 'Convertible' 'Ambulance'
 'PK' 'Van' 'Tractor Truck Diesel' 'Motorscooter' 'Box truck' 'E-Scooter'
 'BOX Truck']

In [334]:
#regroup in other factors items that occurence is less than 1%
#contributing_factor_vehicle_1

high_occ_fact_1 = ['Driver Inattention/Distraction',"Unspecified",'Following Too Closely',
                 'Failure to Yield Right-of-Way','Backing Unsafely','Passing or Lane Usage Improper',
                 'Passing Too Closely','Other Vehicular','Unsafe Lane Changing','Unsafe Speed',
                 'Traffic Control Disregarded','Turning Improperly','Driver Inexperience',
                 'Reaction to Uninvolved Vehicle','Alcohol Involvement' ]

df["contributing_factor_vehicle_1"] = df["contributing_factor_vehicle_1"].apply(lambda x : 'Other_factor' if x not in high_occ_fact_1 else x)
#df.contributing_factor_vehicle_1.value_counts()

In [335]:
#regroup in other factors items that occurence is less than 0.1%
#contributing_factor_vehicle_2
high_occ_fact_2 = ['Unspecified','Driver Inattention/Distraction','Following Too Closely','Other Vehicular',
                   'Passing or Lane Usage Improper','Failure to Yield Right-of-Way',
                   'Passing Too Closely','Unsafe Lane Changing','Unsafe Speed','Traffic Control Disregarded',
                   'Backing Unsafely','Reaction to Uninvolved Vehicle',
                   'Turning Improperly','Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
                   'Driver Inexperience','View Obstructed/Limited'  ]

df["contributing_factor_vehicle_2"] = df["contributing_factor_vehicle_2"].apply(lambda x : 'Other_factor' if x not in high_occ_fact_2 else x)
#df.contributing_factor_vehicle_2.value_counts()

In [336]:
#regroup in other factors items that occurence is less than 0.1%
#contributing_factor_vehicle_2
high_occ_fact_3 = ['Unspecified','Following Too Closely','Other Vehicular','Driver Inattention/Distraction']
df["contributing_factor_vehicle_3"] = df["contributing_factor_vehicle_3"].apply(lambda x : 'Other_factor' if x not in high_occ_fact_3 else x)
#df.contributing_factor_vehicle_3.value_counts()

In [337]:
#regroup in other factors items that occurence is less than 0.75 %
#vehicle_type_code_1
high_occ_code_1 = ['Sedan','Station Wagon/Sport Utility Vehicle','Taxi','Pick-up Truck','Box Truck',
                   'Bike','BusMotorcycle','Tractor Truck Diesel','unspecified']
df["vehicle_type_code_1"] = df["vehicle_type_code_1"].apply(lambda x : 'Other_code' if x not in high_occ_code_1 else x)

#df.vehicle_type_code_1.value_counts().head(10)

In [338]:
#regroup in other factors items that occurence is less than 0.73 %
#vehicle_type_code_2
high_occ_code_2 = ['Sedan','unspecified','Station Wagon/Sport Utility Vehicle','Bike','Taxi','Pick-up Truck',
                   'Box Truck','Bus','Tractor Truck Diesel','Motorcycle']
df["vehicle_type_code_2"] = df["vehicle_type_code_2"].apply(lambda x : 'Other_code' if x not in high_occ_code_2 else x)
#df.vehicle_type_code_2.value_counts()

In [339]:
#regroup in other factors items that occurence is less than 0.073 %
#vehicle_type_code_3
high_occ_code_3 = ['Sedan','Station Wagon/Sport Utility Vehicle','Pick-up Truck','Taxi','Box Truck']
df["vehicle_type_code_3"] = df["vehicle_type_code_3"].apply(lambda x : 'Other_code' if x not in high_occ_code_3 else x)
#df.vehicle_type_code_3.value_counts()

# Eliminate blank spaces

In [340]:
str_col=['crash_date', 'crash_time', 'borough', 'zip_code','on_street_name', 'off_street_name',
          'cross_street_name','contributing_factor_vehicle_1',
         'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
         'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
         'vehicle_type_code_1', 'vehicle_type_code_2',
         'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5']

for col in str_col:
    df = df.astype({col: str})
    
for col in str_col:
    for item in df[col]:
        item.strip()
# for item in df['zip_code']:
#     item.strip()

# Date format

In [341]:
#Reformat the date
df['crash_date'] = df['crash_date'].apply(lambda x : x[:10]).astype(object)
df['crash_date'] = pd.to_datetime(df.crash_date, format= "%Y-%m-%d")

In [342]:
#create 3 specific columns based on date
df['crash_day'] = df['crash_date'].dt.day_name()
df['crash_month'] = df['crash_date'].dt.month
df['crash_year'] = df['crash_date'].dt.year
#df.sample(5)

# missing values

In [343]:
"""Drop columns with more than 99,75% of missing values"""
df.drop(['contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
         'vehicle_type_code_4','vehicle_type_code_5'], axis=1, inplace=True)

In [344]:


"""filling the missing values that we can't replace"""
missing_val = 'unspecified'
df['contributing_factor_vehicle_1'].fillna(missing_val, inplace =True)
df['contributing_factor_vehicle_2'].fillna(missing_val, inplace =True)
df['contributing_factor_vehicle_3'].fillna(missing_val, inplace =True)
df['vehicle_type_code_1'].fillna(missing_val, inplace =True)
df['vehicle_type_code_2'].fillna(missing_val, inplace =True)
df['vehicle_type_code_3'].fillna(missing_val, inplace =True)
df.location.fillna(missing_val, inplace =True)

In [308]:
# There is no duplicates
df.duplicated().any()

False

In [345]:
df.replace('nan',np.nan, inplace=True)

In [346]:

df.isnull().sum(axis=0)   #The dataset contains no missing values ("" or null)

crash_date                           0
crash_time                           0
borough                          35026
zip_code                         35034
latitude                          8035
longitude                         8035
location                             0
on_street_name                   26009
off_street_name                  52875
cross_street_name                74033
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1        0
contributing_factor_vehicle_2        0
contributing_factor_vehicle_3        0
collision_id                         0
vehicle_type_code_1                  0
vehicle_type_code_2                  0
vehicle_type_code_3                  0
crash_day                            0
crash_month                          0
crash_year                           0
dtype: int64

In [311]:
df.columns

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'location', 'on_street_name', 'off_street_name',
       'cross_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1',
       'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
       'collision_id', 'vehicle_type_code_1', 'vehicle_type_code_2',
       'vehicle_type_code_3', 'crash_day', 'crash_month', 'crash_year'],
      dtype='object')

# location

In [347]:
#replacing (0.0,0.0) by NaN
df['location'] = df['location'].replace('(0.0, 0.0)',np.nan)

In [348]:
#combine latitude and longitude to get missing location
df[['latitude', 'longitude']] = df[['latitude', 'longitude']].astype(str)

df['combine_location'] = df[['latitude', 'longitude']].apply(lambda x: ','.join(x) , axis=1)
df['combine_location'] = df['combine_location'].apply(lambda x : '('+ x + ')')
df.combine_location.isnull().value_counts()
#integrate off_street_name to cross_street_name 
#df[combine_location].astype()
df.location.fillna(df.combine_location)
df.location.replace('(NaN,NaN)',np.nan, inplace=True)

In [349]:
# df['location'].value_counts()
df.location.isnull().value_counts()

False    99831
True       169
Name: location, dtype: int64

In [350]:
#drop the latitude and longitude since it has been included in the location
df.drop(['latitude','longitude'], axis=1, inplace=True)

In [316]:
list(df[df.location.isna()].head(20).iterrows())  
#isna return a boolean same-sized object indicating if the values are NA
#iterrows: used to iterate over a pandas Data frame rows in the form of (index, series) pair.
    #return a tuple with the column name and content in form of series
#value_count() returns object containing counts of unique values.result in descending order
                            #>>> first element = the most frequently-occurring element. 
                                    #Excludes NA values by default.
#scipy.spatial.distance.cdist(A,B)
    #calculates the distance between each pair of the two collections of inputs
#nanmin() returns minimum value of an array or along a mentioned axis of the array, ignoring any Nan value.
#numpy.where(condition[, x, y])
    #returns the indices of elements in an input array where the given condition is satisfied.

[(8594,
  crash_date                                            2019-09-04 00:00:00
  crash_time                                                           5:35
  borough                                                             BRONX
  zip_code                                                            10456
  location                                                              NaN
  on_street_name                                                        NaN
  off_street_name                                                       NaN
  cross_street_name                1437      WEBSTER AVENUE
  number_of_persons_injured                                               1
  number_of_persons_killed                                                0
  number_of_pedestrians_injured                                           0
  number_of_pedestrians_killed                                            0
  number_of_cyclist_injured                                               1
  number_of_cyclist_killed                                                0
  number_of_motorist_injured                                              0
  number_of_motorist_killed                                               0
  contributing_factor_vehicle_1              Passing or Lane Usage Improper
  contributing_factor_vehicle_2                                 Unspecified
  contributing_factor_vehicle_3                                Other_factor
  collision_id                                                      4199959
  vehicle_type_code_1                                                 Sedan
  vehicle_type_code_2                                            Other_code
  vehicle_type_code_3                                            Other_code
  crash_day                                                       Wednesday
  crash_month                                                             9
  crash_year                                                           2019
  combine_location                                                (0.0,0.0)
  Name: 8594, dtype: object),
 (12244, crash_date                                    2019-11-11 00:00:00
  crash_time                                                  23:50
  borough                                                       NaN
  zip_code                                                      NaN
  location                                                      NaN
  on_street_name                   179 STREET
  off_street_name                                               NaN
  cross_street_name                                             NaN
  number_of_persons_injured                                       0
  number_of_persons_killed                                        0
  number_of_pedestrians_injured                                   0
  number_of_pedestrians_killed                                    0
  number_of_cyclist_injured                                       0
  number_of_cyclist_killed                                        0
  number_of_motorist_injured                                      0
  number_of_motorist_killed                                       0
  contributing_factor_vehicle_1                         Unspecified
  contributing_factor_vehicle_2                        Other_factor
  contributing_factor_vehicle_3                        Other_factor
  collision_id                                              4239334
  vehicle_type_code_1                                         Sedan
  vehicle_type_code_2                                    Other_code
  vehicle_type_code_3                                    Other_code
  crash_day                                                  Monday
  crash_month                                                    11
  crash_year                                                   2019
  combine_location                                        (0.0,0.0)
  Name: 12244, dtype: object),
 (15192, crash_date                                       2019-09-04 00:00:00
  crash_time                                                      6:29
  borough                                                       QUEENS
  zip_code                                                       11693
  location                                                         NaN
  on_street_name                      ROCKAWAY BEACH BOULEVARD
  off_street_name                                      BEACH 91 STREET
  cross_street_name                                                NaN
  number_of_persons_injured                                          0
  number_of_persons_killed                                           0
  number_of_pedestrians_injured                                      0
  number_of_pedestrians_killed                                       0
  number_of_cyclist_injured                                          0
  number_of_cyclist_killed                                           0
  number_of_motorist_injured                                         0
  number_of_motorist_killed                                          0
  contributing_factor_vehicle_1         Reaction to Uninvolved Vehicle
  contributing_factor_vehicle_2                            Unspecified
  contributing_factor_vehicle_3                           Other_factor
  collision_id                                                 4199757
  vehicle_type_code_1                                            Sedan
  vehicle_type_code_2              Station Wagon/Sport Utility Vehicle
  vehicle_type_code_3                                       Other_code
  crash_day                                                  Wednesday
  crash_month                                                        9
  crash_year                                                      2019
  combine_location                                           (0.0,0.0)
  Name: 15192, dtype: object),
 (42289,
  crash_date                                            2020-03-28 00:00:00
  crash_time                                                          18:40
  borough                                                            QUEENS
  zip_code                                                            11691
  location                                                              NaN
  on_street_name                                                        NaN
  off_street_name                                                       NaN
  cross_street_name                14-50     GIPSON STREET
  number_of_persons_injured                                               0
  number_of_persons_killed                                                0
  number_of_pedestrians_injured                                           0
  number_of_pedestrians_killed                                            0
  number_of_cyclist_injured                                               0
  number_of_cyclist_killed                                                0
  number_of_motorist_injured                                              0
  number_of_motorist_killed                                               0
  contributing_factor_vehicle_1                                Unsafe Speed
  contributing_factor_vehicle_2                                Other_factor
  contributing_factor_vehicle_3                                Other_factor
  collision_id                                                      4304871
  vehicle_type_code_1                                                 Sedan
  vehicle_type_code_2                                            Other_code
  vehicle_type_code_3                                            Other_code
  crash_day                                                        Saturday
  crash_month                                                             3
  crash_year                                                           2020
  combine_location                                                (0.0,0.0)
  Name: 42289, dtype: object),
 (45756, crash_date                                       2020-09-28 00:00:00
  crash_time                                                     16:00
  borough                                                STATEN ISLAND
  zip_code                                                       10306
  location                                                         NaN
  on_street_name                      RICHMOND ROAD
  off_street_name                                        NEW DORP LANE
  cross_street_name                                                NaN
  number_of_persons_injured                                          0
  number_of_persons_killed                                           0
  number_of_pedestrians_injured                                      0
  number_of_pedestrians_killed                                       0
  number_of_cyclist_injured                                          0
  number_of_cyclist_killed                                           0
  number_of_motorist_injured                                         0
  number_of_motorist_killed                                          0
  contributing_factor_vehicle_1                  Following Too Closely
  contributing_factor_vehicle_2                            Unspecified
  contributing_factor_vehicle_3                           Other_factor
  collision_id                                                 4352702
  vehicle_type_code_1              Station Wagon/Sport Utility Vehicle
  vehicle_type_code_2              Station Wagon/Sport Utility Vehicle
  vehicle_type_code_3                                       Other_code
  crash_day                                                     Monday
  crash_month                                                        9
  crash_year                                                      2020
  combine_location                                           (0.0,0.0)
  Name: 45756, dtype: object),
 (45934,
  crash_date                                            2020-09-09 00:00:00
  crash_time                                                           3:00
  borough                                                            QUEENS
  zip_code                                                            11101
  location                                                              NaN
  on_street_name                                                        NaN
  off_street_name                                                       NaN
  cross_street_name                30-60     REVIEW AVENUE
  number_of_persons_injured                                               0
  number_of_persons_killed                                                0
  number_of_pedestrians_injured                                           0
  number_of_pedestrians_killed                                            0
  number_of_cyclist_injured                                               0
  number_of_cyclist_killed                                                0
  number_of_motorist_injured                                              0
  number_of_motorist_killed                                               0
  contributing_factor_vehicle_1                                 Unspecified
  contributing_factor_vehicle_2                                Other_factor
  contributing_factor_vehicle_3                                Other_factor
  collision_id                                                      4346354
  vehicle_type_code_1                                  Tractor Truck Diesel
  vehicle_type_code_2                                            Other_code
  vehicle_type_code_3                                            Other_code
  crash_day                                                       Wednesday
  crash_month                                                             9
  crash_year                                                           2020
  combine_location                                                (0.0,0.0)
  Name: 45934, dtype: object),
 (46168, crash_date                                    2020-09-29 00:00:00
  crash_time                                                   6:40
  borough                                                  BROOKLYN
  zip_code                                                    11207
  location                                                      NaN
  on_street_name                   LIBERTY AVENUE
  off_street_name                                   HINSDALE STREET
  cross_street_name                                             NaN
  number_of_persons_injured                                       0
  number_of_persons_killed                                        0
  number_of_pedestrians_injured                                   0
  number_of_pedestrians_killed                                    0
  number_of_cyclist_injured                                       0
  number_of_cyclist_killed                                        0
  number_of_motorist_injured                                      0
  number_of_motorist_killed                                       0
  contributing_factor_vehicle_1      Reaction to Uninvolved Vehicle
  contributing_factor_vehicle_2                         Unspecified
  contributing_factor_vehicle_3                        Other_factor
  collision_id                                              4352791
  vehicle_type_code_1                                    Other_code
  vehicle_type_code_2                                 Pick-up Truck
  vehicle_type_code_3                                    Other_code
  crash_day                                                 Tuesday
  crash_month                                                     9
  crash_year                                                   2020
  combine_location                                        (0.0,0.0)
  Name: 46168, dtype: object),
 (46418, crash_date                                    2020-09-28 00:00:00
  crash_time                                                  17:15
  borough                                                       NaN
  zip_code                                                      NaN
  location                                                      NaN
  on_street_name                   METROPOLITAN AVENUE
  off_street_name                                    UNION TURNPIKE
  cross_street_name                                             NaN
  number_of_persons_injured                                       1
  number_of_persons_killed                                        0
  number_of_pedestrians_injured                                   0
  number_of_pedestrians_killed                                    0
  number_of_cyclist_injured                                       0
  number_of_cyclist_killed                                        0
  number_of_motorist_injured                                      1
  number_of_motorist_killed                                       0
  contributing_factor_vehicle_1                         Unspecified
  contributing_factor_vehicle_2                         Unspecified
  contributing_factor_vehicle_3                        Other_factor
  collision_id                                              4352670
  vehicle_type_code_1                                         Sedan
  vehicle_type_code_2                                          Taxi
  vehicle_type_code_3                                    Other_code
  crash_day                                                  Monday
  crash_month                                                     9
  crash_year                                                   2020
  combine_location                                        (0.0,0.0)
  Name: 46418, dtype: object),
 (46592, crash_date                                    2020-09-28 00:00:00
  crash_time                                                  17:50
  borough                                                  BROOKLYN
  zip_code                                                    11209
  location                                                      NaN
  on_street_name                   86 STREET
  off_street_name                                          4 AVENUE
  cross_street_name                                             NaN
  number_of_persons_injured                                       0
  number_of_persons_killed                                        0
  number_of_pedestrians_injured                                   0
  number_of_pedestrians_killed                                    0
  number_of_cyclist_injured                                       0
  number_of_cyclist_killed                                        0
  number_of_motorist_injured                                      0
  number_of_motorist_killed                                       0
  contributing_factor_vehicle_1         Traffic Control Disregarded
  contributing_factor_vehicle_2                         Unspecified
  contributing_factor_vehicle_3                        Other_factor
  collision_id                                              4352698
  vehicle_type_code_1                                    Other_code
  vehicle_type_code_2                                         Sedan
  vehicle_type_code_3                                    Other_code
  crash_day                                                  Monday
  crash_month                                                     9
  crash_year                                                   2020
  combine_location                                        (0.0,0.0)
  Name: 46592, dtype: object),
 (46598,
  crash_date                                            2020-09-28 00:00:00
  crash_time                                                          17:40
  borough                                                             BRONX
  zip_code                                                            10460
  location                                                              NaN
  on_street_name                                                        NaN
  off_street_name                                                       NaN
  cross_street_name                1951      SOUTHERN BOULEVARD
  number_of_persons_injured                                               1
  number_of_persons_killed                                                0
  number_of_pedestrians_injured                                           0
  number_of_pedestrians_killed                                            0
  number_of_cyclist_injured                                               1
  number_of_cyclist_killed                                                0
  number_of_motorist_injured                                              0
  number_of_motorist_killed                                               0
  contributing_factor_vehicle_1               Failure to Yield Right-of-Way
  contributing_factor_vehicle_2                                 Unspecified
  contributing_factor_vehicle_3                                Other_factor
  collision_id                                                      4352826
  vehicle_type_code_1                   Station Wagon/Sport Utility Vehicle
  vehicle_type_code_2                                                  Bike
  vehicle_type_code_3                                            Other_code
  crash_day                                                          Monday
  crash_month                                                             9
  crash_year                                                           2020
  combine_location                                                (0.0,0.0)
  Name: 46598, dtype: object),
 (46671,
  crash_date                                            2020-09-13 00:00:00
  crash_time                                                          13:15
  borough                                                            QUEENS
  zip_code                                                            11435
  location                                                              NaN

# Borough

In [352]:
df.borough.unique()

array(['STATEN ISLAND', 'BRONX', 'QUEENS', nan, 'BROOKLYN', 'MANHATTAN'],
      dtype=object)

In [371]:
#fill the zip_code to get the nearest zip_code in order to get the borough
df.sort_values(by='location',inplace=True)
df.zip_code.fillna(method='ffill', inplace=True)
df.reset_index(drop=True,inplace=True)
df

,crash_date,crash_time,borough,zip_code,location,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,crash_day,crash_month,crash_year,combine_location,nearest_street
0,2019-08-03,17:25,STATEN ISLAND,10307,"(40.501465, -74.24523)",SWINNERTON STREET,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Unspecified,4182249,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Saturday,8,2019,"(40.501465,-74.24523)",CLERMONT AVENUE
1,2019-09-07,0:36,BROOKLYN,10307,"(40.50331, -74.237465)",SPRAGUE AVENUE,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,Unspecified,4201115,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,Saturday,9,2019,"(40.50331,-74.237465)",unspecified
2,2019-08-17,15:00,NaN,10307,"(40.503387, -74.24883)",FINLAY STREET,0,0,0,0,0,0,0,0,Unspecified,Other_factor,Other_factor,4198160,Sedan,Other_code,Other_code,Saturday,8,2019,"(40.503387,-74.24883)",unspecified
3,2017-05-06,2:55,STATEN ISLAND,10307,"(40.503414, -74.24496)",NaN,0,0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,Unspecified,3664377,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Saturday,5,2017,"(40.503414,-74.24495999999999)",463 MAIN STREET
4,2020-07-08,20:20,NaN,10307,"(40.50447, -74.243454)",HYLAN BOULEVARD,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,Other_factor,4327159,Sedan,Sedan,Other_code,Wednesday,7,2020,"(40.50447,-74.243454)",unspecified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2019-11-11,23:11,BROOKLYN,11229,NaN,KINGS HIGHWAY,0,0,0,0,0,0,0,0,Unspecified,Unspecified,Other_factor,4239412,Sedan,Sedan,Other_code,Monday,11,2019,"(0.0,0.0)",OCEAN AVENUE
99996,2019-11-10,3:46,QUEENS,11377,NaN,ROOSEVELT AVENUE,1,0,0,0,0,0,1,0,Unspecified,Other_factor,Other_factor,4239029,Station Wagon/Sport Utility Vehicle,Other_code,Other_code,Sunday,11,2019,"(0.0,0.0)",58 STREET
99997,2019-11-11,21:40,BROOKLYN,11221,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Other_factor,4239762,Sedan,Sedan,Other_code,Monday,11,2019,"(0.0,0.0)",829 GATES AVENUE
99998,2019-11-11,23:30,MANHATTAN,10013,NaN,NaN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,Other_factor,4239642,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Other_code,Monday,11,2019,"(0.0,0.0)",9 CROSBY STREET
99999,2019-11-10,3:30,QUEENS,11419,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Other_factor,4238994,Sedan,Other_code,Other_code,Sunday,11,2019,"(0.0,0.0)",134-30 ATLANTIC AVENUE

In [355]:
df.zip_code = df.zip_code.astype(int)

In [ ]:
#df.dtypes

In [356]:
#fill the zip_code based on the most used for a specific brough
df1 = df.groupby('borough')['zip_code'].apply(lambda x: x.value_counts().index[0]).reset_index()
df1

         borough  zip_code
0          BRONX     10457
1       BROOKLYN     11207
2      MANHATTAN     10002
3         QUEENS     11385
4  STATEN ISLAND     10304

In [375]:
#we can attribute the borough with the nearest Zip_code of the previous DataFrame (df1) 
    #or we can go back to the original and sorted DataFrame (df) to look for the nearest zip_code:
    
#attribute the borough
nan_index = df.loc[pd.isna(df["borough"]), :].index
# df.zip_code[nan_index[8000-10]]

In [377]:
for i in nan_index:
    a = df.zip_code[nan_index[i-1]]
    b = df.zip_code[nan_index[i]]
    c = df.zip_code[nan_index[i+1]]
    if ( abs(a-b)< abs(b-c)):
        df.borough[i]=df.borough[i-1]
    else :
        df.borough[i]=df.borough[i+1]

/home/abdellah/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/abdellah/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

IndexError: index 30379 is out of bounds for axis 0 with size 30314

In [384]:
df.borough[30314]

'BROOKLYN'

In [ ]:
# given_value = 2
# a_list = [1, 5, 8]
# absolute_difference_function = lambda list_value : abs(list_value - given_value)

# closest_value = min(a_list, key=absolute_difference_function)

# print(closest_value)

In [378]:
df.zip_code

0        10307
1        10307
2        10307
3        10307
4        10307
         ...
99995    11229
99996    11377
99997    11221
99998    10013
99999    11419
Name: zip_code, Length: 100000, dtype: int64

In [ ]:
#fill the zip_code and borough based on the most used location for a specific brough
# df2 = df.groupby('location')['borough'].apply(lambda x: x.value_counts().index[0]).reset_index()
# df2

# Consolidation

In [358]:
#integrate off_street_name to cross_street_name 
df['nearest_street'] = df.cross_street_name.fillna(df.off_street_name)
# df = df.astype({'nearest_street': str})
# for item in df['nearest_street']:
#         item.strip()
# df['nearest_street'].replace("\n"," ", regex=True)
# df['nearest_street'].head(10)

In [359]:
#drop the off_street_name and the cross_street.name since they have been combined
df.drop(['cross_street_name','off_street_name'], axis=1, inplace=True)

In [360]:
#specify the unspecified near_street
df.nearest_street.fillna('unspecified', inplace =True)

In [376]:
df.isnull().sum(axis=0)

crash_date                           0
crash_time                           0
borough                          30314
zip_code                             0
location                           169
on_street_name                   26009
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1        0
contributing_factor_vehicle_2        0
contributing_factor_vehicle_3        0
collision_id                         0
vehicle_type_code_1                  0
vehicle_type_code_2                  0
vehicle_type_code_3                  0
crash_day                            0
crash_month                          0
crash_year                           0
combine_location                     0
nearest_street                       0
dtype: int64

In [ ]:
df.head(20)